## Notebook Summary

This notebook uses a dataset of anime info webscraped from myanimelist.net and compiled into a single .csv file. This notebook serves as a data science project to practice the process of statistical inference

## Imports

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
df = pd.concat([pd.read_csv("../Web_Scraped_csvs/ranked_anime_1.csv"),pd.read_csv("../Web_Scraped_csvs/ranked_anime_2.csv"),pd.read_csv("../Web_Scraped_csvs/ranked_anime_3.csv"),pd.read_csv("../Web_Scraped_csvs/ranked_anime_4.csv"),pd.read_csv("../Web_Scraped_csvs/ranked_anime_5.csv"),pd.read_csv("../Web_Scraped_csvs/ranked_anime_6.csv")])
df.reset_index(drop=True, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Title               300 non-null    object
 1   Rank                300 non-null    int64
 2   Score               300 non-null    float64
 3   Medium              300 non-null    object
 4   Number of Episodes  300 non-null    int64
 5   Episode Length      300 non-null    object
 6   Start Date          300 non-null    object
 7   End Date            296 non-null    object
 8   Premier Season      122 non-null    object
 9   Source Material     268 non-null    object
 10  Age Rating          295 non-null    object
 11  Number of Members   300 non-null    int64
 12  URLS                300 non-null    object
 13  Synopses            300 non-null    object
 14  Genre 1             300 non-null    object
 15  Genre 2             236 non-null    object
 16  Genre 3             179 non-null    object
 17  Genre 4             132 non-null    object
 18  Genre 5             91 non-null     object
 19  Genre 6             44 non-null     object
 20  Genre 7             26 non-null     object
 21  Genre 8             2 non-null      object
dtypes: float64(1), int64(3), object(18)
memory usage: 51.7+ KB